
*{
    box-sizing: border-box;
}
#header-nav{
    background-color: rgb(129, 127, 127);
    border: 2px solid black;
    padding-bottom: 0px;
}
.navbar-brand{
    color: black;
    font-size: xx-large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-toggler {
    color: black;
    border: 2px solid black;
}
.navbar-toggler-icon{
    color: white;}
.navbar-toggler:focus {
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}
.navbar-collapse{
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    padding: 0px;
}
.nav-link{
    border-top: 2px solid black ;
    background-color: white;
}
h1{
    margin: 10px;
}
.container{
    width: 100%;
    max-width: none;
    overflow: hidden;
}
.row{
  margin: 10px;
  display: flex;
  max-width: none;
}
.Menu{
    background-color: rgb(135, 137, 137);
    margin: 5px;
    padding: 10px;
    height:1000px;
}
h2{
    margin: 10px;

}

